.PersonalInfo {
  padding: 25px;
  border-bottom: 1px solid #e6e6e6;
  list-style: none;

  li span {
    width: 50%;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }

  li p {
    margin: 0px;
    line-height: 30px;
  }
}