.JobStyle {
  h6 {
    margin-top: 0px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
  }
}
.JobYears {
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
}

.CompanyLogo {
  position: absolute;
  right: 0px;
}
